= form_for(@subcategory) do |f|
  - if @subcategory.errors.any?
    #error_explanation
      %h2
        = pluralize(@subcategory.errors.count, "error")
        prohibited this subcategory from being saved:
      %ul
        - @subcategory.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :subcategory_id
    %br/
    = f.text_field :subcategory_id
  .field
    = f.label :subcategory
    %br/
    = f.text_field :subcategory
  .field
    = f.label :category_id
    %br/
    = f.text_field :category_id
  .actions
    = f.submit
