%p#notice= notice
%p
  %strong Subcategory:
  = @subcategory.subcategory_id
%p
  %strong Subcategory:
  = @subcategory.subcategory
%p
  %strong Category:
  = @subcategory.category_id
= link_to 'Edit', edit_subcategory_path(@subcategory)
|
\#{link_to 'Back', subcategories_path}
