<%= form_for(@magazine) do |f| %>
  <% if @magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>

      <ul>
      <% @magazine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :magazine_id %><br>
    <%= f.text_field :magazine_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :published_date %><br>
    <%= f.datetime_select :published_date %>
  </div>
  <div class="field">
    <%= f.label :copies %><br>
    <%= f.text_field :copies %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
