<h1>Listing magazines</h1>

<table>
  <thead>
    <tr>
      <th>Magazine</th>
      <th>Title</th>
      <th>Volume</th>
      <th>Published date</th>
      <th>Copies</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine| %>
      <tr>
        <td><%= magazine.magazine_id %></td>
        <td><%= magazine.title %></td>
        <td><%= magazine.volume %></td>
        <td><%= magazine.published_date %></td>
        <td><%= magazine.copies %></td>
        <td><%= link_to 'Show', magazine %></td>
        <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
        <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Magazine', new_magazine_path %>
