.container 
  %h1 Revistas
  .row
    - all_magazines.each do |magazine|
      .magazine-container.col-xs-12.col-sm-6.col-md-5.col-lg-4
        %img.pull-left{src: 'http://placehold.it/150x220'}
        .magazine-info.col-xs-4.col-sm-6.col-md-6
          .row
            %span= magazine.title
          .row
            = "Publicada: #{magazine.published_date.strftime("%Y/%m/%d")}"
          .row
            Volúmen:
            = magazine.volume
          .row
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          - if current_user.admin?
            .row
              = link_to icon(:edit), edit_magazine_path(magazine.slug)
              = link_to icon(:trash), magazine.slug, data: { confirm: '¿Quieres borrar este revista?' }, method: :delete
  %hr