.container 
  %h1 Revistas
  .row
    - all_magazines.each do |magazine|
      .magazines-container.col-md-4
        %img.pull-left{src: 'http://placehold.it/150x220'}
        .magazine-info.col-md-6
          .row
            = link_to magazine.title, magazine_path(magazine.slug)
          .row
            = "Publicada: #{magazine.published_date.strftime("%Y/%m/%d")}"
          .row
            Volúmen:
            = magazine.volume
          .row
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          - if current_user.admin?
            .row
              = link_to icon(:edit), edit_magazine_path(magazine.slug)
              = link_to icon(:trash), magazine.slug, data: { confirm: '¿Quieres borrar este revista?' }, method: :delete
  %hr