.row
  .head-line.small-12.columns.show-for-large-up
    %h3.text-center= @sb_title
.row
  .magazine.small-8.medium-8.large-6.small-centered.columns
    .row
      .small-12.medium-6.columns.text-center
        %img{src:'http://3.bp.blogspot.com/-KxjQVw9IacI/TrP_goH6ixI/AAAAAAAAGCE/gaZUmd8hEEI/s1600/muy+interesante+agosto+2011+-+Google+Search.png'}
      .info.small-12.medium-6.columns
        %p
          Publicada -
          %strong= "#{@magazine.published_date.strftime("%Y/%m/%d")}"
        %p
          Categoría -
          = link_to @magazine.category.category, category_path(@magazine.category.slug)
        %p
          Copies restantes -
          - if @magazine.copies > 0
            %strong= @magazine.copies
          - else
            %strong Agotadas
    .row
      .small-6.columns.text-center
        %button.success{id: 'loan', 'data-id' => @magazine.id, 'data-type-id' => @magazine.item_types_id, 'data-user-id' => current_user.id} Pedir prestada