<p id="notice"><%= notice %></p>

<p>
  <strong>Magazine:</strong>
  <%= @magazine.magazine_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @magazine.title %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @magazine.volume %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @magazine.published_date %>
</p>

<p>
  <strong>Copies:</strong>
  <%= @magazine.copies %>
</p>

<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
