#books-shelf-phone.panel-group
  - @books.each do |book|
    .panel.panel-default
      .panel-heading{"data-parent" => "#books-shelf-phone", "data-toggle" => "collapse", href: "#book-#{book.id}"}
        %h4.panel-title= book.title
      %div{id: "book-#{book.id}", class: 'panel-collapse collapse'}
        .panel-body
          .row 
            .col-xs-12.text-center
              %img{src: 'http://placehold.it/150x220'}
              %hr
          .row
            .col-xs-12
              %p
                %strong Autor(es):
                = raw(authors_links(book))
              %p 
                %strong Categoria: 
                = link_to book.category.category, category_path(book.category.slug)
              - if book.copies > 0 
                %button.btn.btn-success{:type => "submit"} Pedir prestado
              - else
                %button.btn.disabled Copias agotadas