#books-shelf-phone.panel-group.col-xs-12
  - @books.each do |book|
    .panel.panel-default
      .panel-heading{"data-parent" => "#books-shelf-phone", "data-toggle" => "collapse", href: "#book-#{book.id}"}
        %h4.panel-title= book.title
      %div{id: "book-#{book.id}", class: 'panel-collapse collapse'}
        .panel-body.col-xs-12
          .row 
            .col-xs-12.text-center
              %img{src: 'http://placehold.it/150x220'}
              %hr
          .row
            .col-xs-12
              %h4= book.title
              %p
                %strong Autor(es):
              - book.authors.each do |auth|
                %h4
                  %span.label.label-primary.pull-left= auth.full_name
          .row 
            .col-xs-12
              %p 
                %strong Categoría:
              %p 
                %h4
                  %span.label.label-primary= book.category.category
              %hr
          .row 
            .col-xs-12
              - if book.copies > 0 
                %button.btn.btn-success.col-xs-12{:type => "submit"} Pedir prestado
              - else
                %button.btn.disabled{:type => "submit"} Copias agotadas
          - if current_user.admin?
            %hr
            .row 
              .col-xs-12
                %a{href: edit_book_path(book.slug), class: 'btn btn-default pull-left'}
                  %span.glyphicon.glyphicon-edit
                  Editar
                %a{href: book.slug, class: 'btn btn-default pull-right', data: { confirm: '¿Quieres borrar esta revista?' }, method: :delete}
                  %span.glyphicon.glyphicon-trash
                  Borrar