.row
  .head-line.small-12.columns.show-for-large-up
    %h3.text-center= @sb_title
.row
  .book.small-8.medium-8.large-6.small-centered.columns
    .row
      .small-12.medium-6.columns.text-center
        %a{href: book_path(@book.slug)}
          %img{src:'http://static.hellofriki.com/wp-content/uploads/images/literatura/portadas/portada_narnia3.jpg'}
      .info.small-12.medium-6.columns
        %p
          por
          = raw(authors_links(@book))
        %p
          Publicado -
          %strong= "#{@book.published_date.strftime("%Y/%m/%d")}"
        %p
          Editorial -
          %strong= @book.pub_house_name
        %p
          Categoría -
          = link_to @book.category_name, category_path(@book.category.slug)
        %p
          Páginas -
          %strong= @book.pages
        %p
          Copies restantes -
          - if @book.copies > 0
            %strong= @book.copies
          - else
            %strong Agotadas
    .row
      .small-6.columns.text-center
        %button.success Pedir prestado